@model Category
@{
  ViewData["Title"] = "Create Category";
}

<div class="text-center">
  <h2 class="display-5">Create Category</h2>
</div>
<form class="mx-auto" style="width: 40%;" method="POST">
  <div class="mb-3">
    <label class="" asp-for="Name"></label>
    <input class="form-control" type="text" asp-for="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label class="" asp-for="DisplayOrder"></label>
    <input class="form-control" type="number" asp-for="DisplayOrder">
    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
<div class="text-center">
  <a asp-controller="Category" asp-action="Index" class="text-secondary">Back</a>
</div>

@section Scripts{
  @{
    <partial name="_ValidationScriptsPartial" />
  }
}