@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}
<partial name="_Notification" />
<div class="text-center">
    <h1 class="display-4">Category Page</h1>
    <a class="btn btn-primary my-5" asp-controller="Category" asp-action="Create">Create Category</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Display Order</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>@item.Name</td>
            <td>@item.DisplayOrder</td>
            <td>
              <div class="w-75 btn-group" role="group">
                <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
</div>
