@{
    ViewData["Title"] = "Home Page";
}

<div>
<h2>Skyes Crawford</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident esse, consectetur ullam alias impedit accusamus eum neque porro veritatis minus deserunt suscipit maxime cumque et pariatur saepe harum dolores ipsum.</p>
</div>